*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Spartan, sans-serif"; 
   
}
    h2 {
      text-align: center;
    }
        h1 {
      text-align: center;
    }
  p {
  font-size: 16px;
  color: hsl(0,0%,0%);
}  
#section-p1{
    margin-top: 100px;
    padding: 40px 80px;
}
.produtos{
text-align: center;
}
.produtos .pro-container{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    flex-wrap: wrap;
}
.produtos .pro-container .pro{

    position: relative;
    cursor: pointer;
    padding: 10px;
    border: 1px;
    margin:15px;

}
.icon{
    width: 70px;
    height: 70px;
}
.logo{
    width: 150px;
    height: 150px;
}
.imagensprodutos{
    width: 160px;
    height: 160px;
}
#cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f1680d;
    width: 100%;
    box-shadow: 10 0 0 rgb;
    z-index: 9; 
 
}
#barradenavegacao{
    display:flex;
    align-items: center;
    justify-content:center;
}
#barradenavegacao li{
    list-style: none;
    padding: 0 20px
}
#carrinhodecompras{
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#carrinhodecompras li{ /*organiza o numero de produtos e a imagem*/
    list-style: none;
    padding: 0 20px;
    text-align: center;
}
.carrinhoacomps{ /*é o botao*/
    background-color:antiquewhite;
    z-index: 99;  
}
.carrinhoacomps:hover{ /*botao com cursor nele*/
background-color: #f1680d;
}
.carrinhosalsichas{ /*é o botao*/
    background-color:antiquewhite;
}
.carrinhosalsichas:hover{ /*botao com cursor nele*/
background-color: #f1680d;
}
.carrinhopaes{ /*é o botao*/
    background-color:antiquewhite;
}
.carrinhopaes:hover{ /*botao com cursor nele*/
background-color: #f1680d;
}
